body {
    display: flex;
    justify-content: center;
}

.author-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    padding: 30px;
}
.show-more {
    margin: 20px;
    padding: 5px;
}
.add-card {
    padding: 5px;
}
.modal{
    display: none;
    z-index: 1;
    position: absolute;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 1000%;
    left: 0;
    top: 0;
    overflow: auto;
    position: fixed;
   
}
.modal-content{
    display: flex;
    justify-content: space-between;
    width: 600px;
    background-color: rgb(255, 254, 254);
    margin-top: 200px;
    margin-left: 400px;

}
.modal-right-wrap{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.modal-img{
    width: 150px;
    padding: 10px;
}
.modal-title{
    font-size: 28px;
    padding-top: 20px;
    font-weight: bolder;
}
.modal-text{
    font-size: 20px;
    max-width: 350px;
    padding-top: 30px;
    line-height: 22px;
    letter-spacing: 0.05rem;
    padding-bottom: 10px;
}
.close{
    font-size: 40px;
    color: red;
}
.book-img {
    width: 300px;
    height: 400px;
}
.book-title {
    width: 330px;
}
.book-description {
    width: 330px;
    margin: 20px 0;
}
.form {
    width: 500px;
    height: 700px;
    background-color: rgb(213, 213, 211);
    margin-top: 20px;
}
fieldset {
    margin: 20px;
}
legend {
    font-size: 22px;
    padding: 20px;
}
label {
    font-size: 16px;
    padding-right: 20px;
}
.field {
    padding: 10px;
}
.payment-wrap {
    padding: 10px;
}
.gift-wrap label {
    padding: 20px;
}
.button-wrap {
    margin: 20px;
    padding-top: 20px;
}
